body {
    padding-top: 51px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #d6d6d6;
    text-align: justify;
    padding-bottom: 30px;
}

#intro {
    background: url("../img/FISH_website.png") no-repeat top;
    background-size: 100%;
    padding: 30px 0 70px 0;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-align: left;
}

p {
    padding-bottom: 10px;
}

